{% extends "base.html" %}
{% load static %}
{% block title %}زیارت نامه | شهیدنامه{% endblock %}
{% block content %}
<div class="ziyaratnama-page">
  <div class="ziyaratnama-header">
    <h1>زیارت نامه</h1>
  </div>
  <div class="ziyaratnama-video">
    <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style>
    <div class="h_iframe-aparat_embed_frame">
      <span style="display: block;padding-top: 57%"></span>
      <iframe src="https://www.aparat.com/video/video/embed/videohash/r70h8vk/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    </div>
  </div>
</div>
{% endblock %}
